doctype html
// Basic
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // Mobile Metas
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Site Metas
  title Contact Us
  meta(name='keywords' content='')
  meta(name='description' content='')
  meta(name='author' content='')
  // Site Icons
  link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
  link(rel='apple-touch-icon' href='images/apple-touch-icon.png')
  // Bootstrap CSS
  link(rel='stylesheet' href='css/bootstrap.min.css')
  // Site CSS
  link(rel='stylesheet' href='css/style.css')
  // Responsive CSS
  link(rel='stylesheet' href='css/responsive.css')
  // Custom CSS
  link(rel='stylesheet' href='css/custom.css')
// Start Main Top
.main-top
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .right-phone-box
          | 801-555-4887
          p
        .our-link
          ul
            li
              a(href='contact')
                i.fas.fa-headset
                |  Contact Us
          
// End Main Top
// Start Main Top
header.main-header
  // Start Navigation
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-default.bootsnav
    .container
      // Start Header Navigation
      .navbar-header
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-menu' aria-controls='navbars-rs-food' aria-expanded='false' aria-label='Toggle navigation')
          i.fa.fa-bars
      // End Header Navigation
      // Collect the nav links, forms, and other content for toggling
      #navbar-menu.collapse.navbar-collapse
        ul.nav.navbar-nav.ml-auto(data-in='fadeInDown' data-out='fadeOutUp')
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='about') About Us
          li.nav-item
            a.nav-link(href='recipes') Recipes
  // End Navigation
// End Main Top
// Start Top Search
.top-search
  .container
    .input-group
      span.input-group-addon
        i.fa.fa-search
      input.form-control(type='text' placeholder='Search')
      span.input-group-addon.cloe-search
        i.fa.fa-times
// End Top Search
// Start All Title Box
.all-title-box
  .container
    .row
      .col-lg-12
        h2 Contact Us
// End All Title Box
// Start Contact Us
.contact-box-main
  .container
    .row
      .col-lg-8.col-sm-12
        .contact-form-right
          h2 GET IN TOUCH
          form#contactForm
            .row
              .col-md-12
                .form-group
                  input#name.form-control(type='text' name='name' placeholder='Your Name' required='' data-error='Please enter your name')
                  .help-block.with-errors
              .col-md-12
                .form-group
                  input#email.form-control(type='text' placeholder='Your Email' name='name' required='' data-error='Please enter your email')
                  .help-block.with-errors
              .col-md-12
                .form-group
                  input#subject.form-control(type='text' name='name' placeholder='Subject' required='' data-error='Please enter your Subject')
                  .help-block.with-errors
              .col-md-12
                .form-group
                  textarea#message.form-control(placeholder='Your Message' rows='4' data-error='Write your message' required='')
                  .help-block.with-errors
                .submit-button.text-center
                  button#submit.btn.hvr-hover(type='submit') Send Message
                  #msgSubmit.h3.text-center.hidden
                  .clearfix
      .col-lg-4.col-sm-12
        .contact-info-left
          h2 CONTACT INFO
          p  
          ul
            li
              p
                i.fas.fa-phone-square
                | Phone: 
                a(href='tel:+1-888705770') +1-888 705 770
            li
              p
                i.fas.fa-envelope
                | Email: 
                a(href='mailto:contactinfo@gmail.com') manelson@student.neumont.edu
// End Cart
// Start Instagram Feed
.instagram-box
  .main-instagram.owl-carousel.owl-theme
    .item
      .ins-inner-box
        img(src='images/food1.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food2.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food3.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food4.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food5.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food6.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food7.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food8.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food9.jpg' alt='')
    .item
      .ins-inner-box
        img(src='images/food10.jpg' alt='')
// End Instagram Feed
// Start Footer
footer
  .footer-main
    .container
      .row
      hr
      .row
        .col-lg-4.col-md-12.col-sm-12
          .footer-link
            h4 Information
            ul
              li
                a(href='about') About Us
              li
                a(href='#') Customer Service
              li
                a(href='#') Terms &amp; Conditions
              li
                a(href='#') Privacy Policy
        .col-lg-4.col-md-12.col-sm-12
          .footer-link-contact
            h4 Contact Us
            ul
              li
                p
                  i.fas.fa-phone-square
                  | Phone: 
                  a(href='tel:+1-888705770') 801-555-4887
              li
                p
                  i.fas.fa-envelope
                  | Email: 
                  a(href='mailto:contactinfo@gmail.com') manelson@student.neumont.edu
// End Footer
// Start copyright
.footer-copyright
  p.footer-company All Rights Reserved. &copy; 2021 
// End copyright
a#back-to-top(href='#' title='Back to top' style='display: none;') &uarr;
// ALL JS FILES
script(src='js/jquery-3.2.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
// ALL PLUGINS
script(src='js/jquery.superslides.min.js')
script(src='js/bootstrap-select.js')
script(src='js/inewsticker.js')
script(src='js/bootsnav.js.')
script(src='js/images-loded.min.js')
script(src='js/isotope.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/baguetteBox.min.js')
script(src='js/form-validator.min.js')
script(src='js/contact-form-script.js')
script(src='js/custom.js')
